.blog, .single {
	.content-area {
		.make-xs-column(12);
		.make-sm-column(9);
		.make-md-column(9);
		.make-lg-column(9);
	}
	.sidebar {
		.make-md-column(3);
		.make-lg-column(3);
	}
	article.post {
		margin-bottom:30px;
	}
}
.blog {
	.blog-header {
		padding-bottom:5px;
		border-bottom:1px solid lighten( #0a477f, 30% );
	}
}
.single {
	.entry-title {
		margin:20px 0 16px;
	}
}