.main-wrapper {
	background:#fff url('../images/faux-sidebar.png') right top repeat-y;
	border:1px solid #d4e1e6;
	.main-body {
		padding:10px;
		.make-lg-column(9);
	}
	.sidebar {
		border-left:1px solid #d4e1e6;
		background:#e4edf0;
		.make-lg-column(3);
	}
}