* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// Simplify the Bootstrap responsive grid system classes into something useable...
.one-col {
	.make-xs-column(1);
	.make-sm-column(1);
	.make-md-column(1);
	.make-lg-column(1);
}
.two-col {
	.make-xs-column(2);
	.make-sm-column(2);
	.make-md-column(2);
	.make-lg-column(2);
}
.three-col {
	.make-xs-column(3);
	.make-sm-column(3);
	.make-md-column(3);
	.make-lg-column(3);
}
.four-col {
	.make-xs-column(12);
	.make-sm-column(4);
	.make-md-column(4);
	.make-lg-column(4);
}
.five-col {
	.make-xs-column(5);
	.make-sm-column(5);
	.make-md-column(5);
	.make-lg-column(5);
}
.six-col {
	.make-xs-column(6);
	.make-sm-column(6);
	.make-md-column(6);
	.make-lg-column(6);
}
.seven-col {
	.make-xs-column(7);
	.make-sm-column(7);
	.make-md-column(7);
	.make-lg-column(7);
}
.eight-col {
	.make-xs-column(8);
	.make-sm-column(8);
	.make-md-column(8);
	.make-lg-column(8);
}
.nine-col {
	.make-xs-column(9);
	.make-sm-column(9);
	.make-md-column(9);
	.make-lg-column(9);
}
.ten-col {
	.make-xs-column(10);
	.make-sm-column(10);
	.make-md-column(10);
	.make-lg-column(10);
}
.eleven-col {
	.make-xs-column(11);
	.make-sm-column(11);
	.make-md-column(11);
	.make-lg-column(11);
}
.twelve-col {
	.make-xs-column(12);
	.make-sm-column(12);
	.make-md-column(12);
	.make-lg-column(12);
}

// Typography
body {
	padding:32px 0 0;
	font-family:@default;
	background-color:#f5f5f5;
}
h1, h2, h3, h4, h5, h6 {
	font-family:@quicksand;
}
h3 {
	font-size:18px;
	font-weight:bold;
}
h4{
	font-size:15px;
	color:#d48309;
	line-height:20px;
	margin-bottom:5px;
}
p, li {
	font-size:15px;
	line-height:20px;
}
.entry-content p {
	margin-bottom:18px;
}
.title, h1, h2.title {
	color:#0a477f;
	font-size:32.33px;
	font-weight:normal;
	margin:20px 0 16px;
}
.subtitle {
	color:#000;
	font-size:18px;
	margin:0 0 5px;
	font-weight:bold;
}

.meetup-meta, .post-meta {
	font-size:14px;
	a {
		color:#d48309;
		font-weight:bold;
	}
}

.post-meta {
	text-transform:uppercase;
}
.read-more {
	text-align:right;
	a {
		color:#d48309;
	}
}
.alignright {
	.pull-right();
	margin-left:20px;
}
.alignleft {
	.pull-left();
	margin-right:20px;
}
.aligncenter {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.nav {
	li {
		.pull-left;
	}
}

img {
	max-width:100%;
	height:auto;
}

.btn.btn-primary, input[type="submit"], .button {
	font-size:14.52px;//20.52px;
	font-family:@lustria;
	color:#fff !important;
	text-shadow:0 1px 1px rgba( 20, 20, 21, .75 );
	background:#d48309 !important; /* Old browsers */
	background:-moz-linear-gradient(top,  #d48309 0%, #e49826 100%) !important; /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d48309), color-stop(100%,#e49826)) !important; /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #d48309 0%,#e49826 100%) !important; /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #d48309 0%,#e49826 100%) !important; /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #d48309 0%,#e49826 100%) !important; /* IE10+ */
	background:linear-gradient(to bottom,  #d48309 0%,#e49826 100%) !important; /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d48309', endColorstr='#e49826',GradientType=0 ) !important; /* IE6-9 */
	box-shadow:0 1px 2px rgba( 20, 20, 21, .75 );
	border:none !important;
	border-radius:4px;
	a {
		color:#fff !important;
		text-shadow:0 1px 1px rgba( 20, 20, 21, .75 );
	}
}

.box-square {
	a {
		text-align:center;
		background:#e4edf0;
		margin:10px 15px;
		padding:5px;
		width:262px;
		float:left;
		color:#1e1e1e;
		&:hover {
			text-decoration:underline;
			background:#d0d8db;
		}
	}
	&.last {
		margin-right:0;
	}
}
.grid-squares {
	margin-bottom:40px;
}

.edit-link {
	position:absolute;
	right:15px;
	top:15px;
	a {
		background:#428bca;
		border-radius:10px;
		opacity:.5;
		padding:5px 15px;
		color:#fff;
		transition:opacity .2s;
		-webkit-transition:opacity .2s;
		&:hover {
			text-decoration:none;
			opacity:1;
		}
	}
}

code {
	white-space:normal;
}

.radio {
	list-style:none;
}

// Override the crap WP Job Board creates
#wpjb-widget-alerts-2 .wpjb-widget-smart-alert {
	border:none;
	strong {
		color:#0a477f;
		font-size:32.33px;
		font-weight:400;
		margin:20px 0 16px;
		font-family:@quicksand;
	}
}