* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// Typography
body {
	padding:32px 0 0;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family:@quicksand;
}
h3 {
	font-size:18px;
	font-weight:bold;
}
h4{
	font-size:15px;
	color:#d48309;
	line-height:20px;
	margin-bottom:5px;
}
p, li {
	font-size:15px;
	line-height:20px;
}
.title, h1, h2.title {
	color:#0a477f;
	font-size:32.33px;
	font-weight:normal;
	margin:20px 0 16px;
}
.subtitle {
	color:#000;
	font-size:18px;
	margin:0 0 5px;
	font-weight:bold;
}

.meetup-meta, .post-meta {
	font-size:14px;
	a {
		color:#d48309;
		font-weight:bold;
	}
}

.post-meta {
	text-transform:uppercase;
}
.read-more {
	text-align:right;
	a {
		color:#d48309;
	}
}
.alignright {
	.pull-right();
	margin-left:20px;
}
.alignleft {
	.pull-left();
	margin-right:20px;
}

.nav {
	li {
		.pull-left;
	}
}

img {
	max-width:100%;
	height:auto;
}

.edit-link {
	position:absolute;
	right:15px;
	top:15px;
	a {
		background:#428bca;
		border-radius:10px;
		opacity:.5;
		padding:5px 15px;
		color:#fff;
		transition:opacity .2s;
		-webkit-transition:opacity .2s;
		&:hover {
			text-decoration:none;
			opacity:1;
		}
	}
}