* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body {
	padding:32px 0 0;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family:@quicksand;
}
p {
	font-size:15px;
	line-height:20px;
}

.title {
	color:#0a477f;
	font-size:32.33px;
	font-weight:normal;
	margin:20px 0 16px;
}

.subtitle {
	color:#000;
	font-size:18px;
	margin:0 0 5px;
	font-weight:bold;
}

.meetup-meta, .post-meta {
	font-size:14px;
	a {
		color:#d48309;
		font-weight:bold;
	}
}

.post-meta {
	text-transform:uppercase;
}

.read-more {
	text-align:right;
	a {
		color:#d48309;
	}
}

.nav {
	li {
		.pull-left;
	}
}

img {
	max-width:100%;
	height:auto;
}