.top-header-wrapper {
	position:fixed;
	top:0;
	background:@brand-primary;
	width:100%;
	font-size:@header-font-size;
	color:#fff;
	border-bottom:1px solid #a6c6d2;
	padding:5px 0;
	z-index:99999;
	.slogan {
		padding:3px 0;
		.make-lg-column(4);
		.make-md-column(4);
		p {
			font-size:@header-font-size + 5.9;
		}
	}
	.logins {
		padding-right:0 !important;
		.make-lg-column(8);
		.make-md-column(8);
		input[type="text"] {
			width:43%;
			height:33px;
			font-size:@header-font-size;
			padding:@header-padding;
		}
		button.btn {
			font-size:@header-font-size;
			padding:@header-padding;
			background:#d48309;
			border:none;
			color:#fff;
			text-transform:uppercase;
			height:33px;
			.border-radius(0)
		}
	}
	.login-forms {
		.make-lg-column(8);
		.make-md-column(8);
		.make-sm-column(8);
	}
	.login-meta {
		padding:3px 0 !important;
		text-align:right;
		position:relative;
		top:5px;
		.make-lg-column(3);
		.make-md-column(3);
		.make-sm-column(4);
	}
	p { margin:0; }
	a { color:#fff; }
}
body.admin-bar .top-header-wrapper {
	top:32px;
}
.main-header {
	margin:33px 0 15px;
	.clearfix();
	.logo a {
		background:url( '../images/wimp-logo.png' ) 0 0 no-repeat;
		width:347px;
		height:124px;
		display:block;
		.text-hide();
		.make-lg-column(4);
	}
	.navbar {
		background:none;
		border-bottom:7px solid #115ba0;
		padding:0 !important;
		margin:0;
		position:relative;
		top:77px;
		.make-lg-column(8);
	}
	.navbar-collapse {
		padding:0;
	}
	.navbar-nav {
		float:none;
		> li {
			padding:0 22px 10px 0;
			&.last { padding-right:0; }
			> a {
				font-size:15.25px;
				padding:0;
				color:#115ca1;
				text-transform:uppercase;
				&:hover, &:active {
					color:#000;
					background:none;
				}
			}
		}
		.dropdown-menu {
			padding:0;
			margin:0;
			border:none;
			background:#0081bb;
			border-top:7px solid #115ba0;
			.box-shadow(0) !important;
			li {
				width:100%;
				display:block;
				&:hover .sub-menu {
					visibility:visible;
				}
			}
			a {
				color:#fff;
				font-size:16px;
				padding:3px 10px;
				transition:background-color .2s;
				-webkit-transition:background-color .2s;
				&:hover {
					background-color:#115ba0;
				}
			}
		}
		.sub-menu li:hover {
			background-color:#115ba0;
		}
	}
	.dropdown:hover .dropdown-menu {
		display:block;
	}
}

// Medium Screens
@media (min-width:@screen-md-min) and (max-width: @screen-md-max), (min-width:@screen-sm-min) and (max-width: @screen-sm-max) {
	.top-header-wrapper {
		.slogan {
			padding:11px 0;
			p {
				font-size:@header-font-size + 3;
			}
		}
		.logins {
			input[type="text"] {
				width:41%;
				height:42px;
			}
			button.btn {
				height:42px;
			}
		}
		.login-meta {
			top:0;
			a {
				text-align:center;
				display:block;
			}
			span {
				display:none;
			}
		}
	}
	.main-header {
		.logo a {
			background-position: 0 -134px;
			width:729px;
			height:93px;
			margin:0 auto;
		}
		.navbar {
			top:13px;
			margin-bottom:20px;
		}
		#wimp-nav {
			line-height:0;
			.center();
		}
	}
}

// Small Screens
@media (min-width:@screen-sm-min) and (max-width: @screen-sm-max) {
	.top-header-wrapper {
		.logins {
			input[type="text"] {
				width:42%;
			}
		}
	}
	.main-header {
		.navbar-nav {
			> li {
				padding:0 17px 10px 0;
			}
		}
	}
}