.home {
	.featured-meetup, .latest-post {
		margin-bottom:50px;
	}
	.latest-post {
		.clearfix();
	}
	.featured-image, .post-content, .post {
		.make-column(6);
	}
	.featured-image {
		padding-left:0;
	}
	.post-content {
		.title {
			margin-top:0;
		}
	}
	.second-post {
		padding-left:0;
	}
}